{{>layouts/header}}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
        <tr>
            <th scope="row">{{id}} </th>
            <td>{{title}} </td>
            <td>{{content}}</td>
        </tr>
        <a href="/repeat_articles/{{id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/repeat_articles/{{id}}/delete" class="btn btn-danger">Delete</a>
    {{/article}}
    </tbody>
</table>

{{>layouts/footer}}
